name: PR

on:
  pull_request:

concurrency:
  # Cancel in progress for PR open and close
  group: ${{ github.event.number }}
  cancel-in-progress: true

jobs:
  # https://github.com/bcgov-nr/action-builder-ghcr
  builds:
    name: Builds
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        package: [ frontend ]
    timeout-minutes: 10
    steps:
      - uses: bcgov-nr/action-builder-ghcr@v4.2.1
        with:
          keep_versions: 50
          package: ${{ matrix.package }}
          tag: ${{ github.event.number }}
          tag_fallback: latest
          triggers: ('${{ matrix.package }}/')

  # https://github.com/bcgov/quickstart-openshift-helpers
  deploys-clab-dev:
    name: Deploys (${{ github.event.number }})
    needs: [builds]
    uses: ./.github/workflows/clab-dev.yml
    secrets: inherit

  results:
    name: PR Results
    needs: [builds, deploys-clab-dev]
    if: always()
    runs-on: ubuntu-24.04
    steps:
      - if: contains(needs.*.result, 'failure')||contains(needs.*.result, 'canceled')
        run: echo "At least one job has failed." && exit 1
      - run: echo "Success!"
